In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("Data Analyst - Test Data - US.csv")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6448 entries, 0 to 6447
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    6393 non-null   object
 1   date      6448 non-null   object
 2   Location  1711 non-null   object
dtypes: object(3)
memory usage: 151.2+ KB

In [19]:
df["date"].unique()

array(['2019/08/20', '2019/08/19', '2019/08/18', '2019/08/17',
       '2019/08/16', '2019/08/15', '2019/08/14', '2019/08/13',
       '2019/08/12', '2019/08/11', '2019/08/10', '2019/08/09',
       '2019/08/08', '2019/08/07', '2019/08/06', '2019/08/05',
       '2019/08/04', '2019/08/03', '2019/08/02', '2019/08/01',
       '2019/07/31', '2019/07/30', '2019/07/29', '2019/07/28',
       '2019/07/27', '2019/07/26', '2019/07/25', '2019/07/24',
       '2019/07/23', '2019/07/22', '2019/07/21', '2019/07/20',
       '2019/07/19', '2019/07/18', '2019/07/17', '2019/07/16',
       '2019/07/15', '2019/07/14', '2019/07/13', '2019/07/12',
       '2019/07/11', '2019/07/10', '2019/07/09', '2019/07/08',
       '2019/07/07', '2019/07/06', '2019/07/05', '2019/07/04',
       '2019/07/03', '2019/07/02', '2019/07/01', '2019/06/30',
       '2019/06/29', '2019/06/28', '2019/06/27', '2019/06/26',
       '2019/06/25', '2019/06/24', '2019/06/23', '2019/06/22',
       '2019/06/21', '2019/06/20', '2019/06/19', '2019/06/18',
       '2019/06/17', '2019/06/16', '2019/06/15', '2019/06/14',
       '2019/06/13', '2019/06/12', '2019/06/11', '2019/06/10',
       '2019/06/09', '2019/06/08', '2019/06/07', '2019/06/06',
       '2019/06/05', '2019/06/04', '2019/06/03', '2019/06/02',
       '2019/06/01', '2019/05/31', '2019/05/30', '2019/05/29',
       '2019/05/28', '2019/05/27', '2019/05/26', '2019/05/25',
       '2019/05/24', '2019/05/23', '2019/05/22', '2019/05/21',
       '2019/05/20', '2019/05/19', '2019/05/18', '2019/05/17',
       '2019/05/16', '2019/05/15', '2019/05/14', '2019/05/13',
       '2019/05/12', '2019/05/11', '2019/05/10', '2019/05/09',
       '2019/05/08', '2019/05/07', '2019/05/06', '2019/05/05',
       '2019/05/04', '2019/05/03', '2019/05/02', '2019/05/01',
       '2019/04/30', '2019/04/29', '2019/04/28', '2019/04/27',
       '2019/04/26', '2019/04/25', '2019/04/24', '2019/04/23',
       '2019/04/22', '2019/04/21', '2019/04/20', '2019/04/19',
       '2019/04/18', '2019/04/17', '2019/04/16', '2019/04/15',
       '2019/04/14', '2019/04/13', '2019/04/12', '2019/04/11',
       '2019/04/10', '2019/04/09', '2019/04/08', '2019/04/07',
       '2019/04/06', '2019/04/05', '2019/04/04', '2019/04/03',
       '2019/04/02', '2019/04/01', '2019/03/31', '2019/03/30',
       '2019/03/29', '2019/03/28', '2019/03/27', '2019/03/26',
       '2019/03/25', '2019/03/24', '2019/03/23', '2019/03/22',
       '2019/03/21', '2019/03/20', '2019/03/19', '2019/03/18',
       '2019/03/17', '2019/03/16', '2019/03/15', '2019/03/14',
       '2019/03/13', '2019/03/12', '2019/03/11', '2019/03/10',
       '2019/03/09', '2019/03/08', '2019/03/07', '2019/03/06',
       '2019/03/05', '2019/03/04', '2019/3/4', '2019/3/3', '2019/3/2',
       '2019/3/1', '2019/2/28', '2019/2/27', '2019/2/26', '2019/2/25',
       '2019/2/24', '2019/2/23', '2019/2/22', '2019/2/21', '2019/2/20',
       '2019/2/19', '2019/2/18', '2019/2/17', '2019/2/16', '2019/2/15',
       '2019/2/14', '2019/2/13', '2019/2/12', '2019/2/11', '2019/2/10',
       '2019/2/9', '2019/2/8', '2019/2/7', '2019/2/6', '2019/2/5',
       '2019/2/4', '2019/2/3', '2019/2/2', '2019/2/1', '2019/1/31',
       '2019/1/30', '2019/01/30', '2019/01/29', '2019/01/28',
       '2019/01/27', '2019/01/26', '2019/01/25', '2019/01/24',
       '2019/01/23', '2019/01/22', '2019/1/22', '2019/1/21', '2019/1/20',
       '2019/1/19', '2019/1/18', '2019/1/17', '2019/1/16', '2019/1/15',
       '2019/1/14', '2019/1/13', '2019/1/12', '2019/1/11', '2019/1/10',
       '2019/1/9', '2019/1/8', '2019/1/7', '2019/1/6', '2019/1/5',
       '2019/1/4', '2019/1/3', '2019/01/03', '2019/01/02', '2019/01/01',
       '2018/12/31', '2018/12/30', '2018/12/29', '2018/12/28',
       '2018/12/27', '2018/12/26', '2018/12/25', '2018/12/24',
       '2018/12/23', '2018/12/22', '2018/12/21', '2018/12/20',
       '2018/12/19', '2018/12/18', '2018/12/17', '2018/12/16',
       '2018/12/15', '2018/12/14', '2018/12/13', '2018/12/12',
       '2018/12/11', '2018/12/10', '2018/12/09', '2018/12/08',
       '2018/12/07', '2018/12/06', '2018/12/05', '2018/12/04',
       '2018/12/03', '2018/12/02', '2018/12/01', '2018/11/30',
       '2018/11/29', '2018/11/28', '2018/11/27', '2018/11/26',
       '2018/11/25', '2018/11/24', '2018/11/23', '2018/11/22',
       '2018/11/21', '2018/11/20', '2018/11/19', '2018/11/18',
       '2018/11/17', '2018/11/16', '2018/11/15', '2018/11/14',
       '2018/11/13', '2018/11/12', '2018/11/11', '2018/11/10',
       '2018/11/09', '2018/11/08', '2018/11/07', '2018/11/06',
       '2018/11/05', '2018/11/04', '2018/11/03', '2018/11/02',
       '2018/11/01', '2018/10/31', '2018/10/30', '2018/10/29',
       '2018/10/28', '2018/10/27', '2018/10/26', '2018/10/25',
       '2018/10/24', '2018/10/23', '2018/10/22', '2018/10/21',
       '2018/10/20', '2018/10/19', '2018/10/18', '2018/10/17',
       '2018/10/16', '2018/10/15', '2018/10/14', '2018/10/13',
       '2018/10/12', '2018/10/11', '2018/10/10', '2018/10/09',
       '2018/10/08', '2018/10/07', '2018/10/06', '2018/10/05',
       '2018/10/04', '2018/10/03', '2018/10/02', '2018/10/01',
       '2018/09/30', '2018/09/29', '2018/09/28', '2018/09/27',
       '2018/09/26', '2018/09/25', '2018/09/24', '2018/09/23',
       '2018/09/22', '2018/09/21', '2018/09/20', '2018/09/19',
       '2018/09/18', '2018/09/17', '2018/09/16', '2018/09/15',
       '2018/09/14', '2018/09/13', '2018/09/12', '2018/09/11',
       '2018/09/10', '2018/09/09', '2018/09/08', '2018/09/07',
       '2018/09/06', '2018/09/05', '2018/09/04', '2018/09/03',
       '2018/09/02', '2018/09/01', '2018/08/31', '2018/08/30',
       '2018/08/29', '2018/08/28', '2018/08/27', '2018/08/26',
       '2018/08/25', '2018/08/24', '2018/08/23', '2018/08/22',
       '2018/08/21', '2018/08/20', '2018/08/19', '2018/08/18',
       '2018/08/17', '2018/08/16', '2018/08/15', '2018/08/14',
       '2018/08/13', '2018/08/12', '2018/08/11', '2018/08/10',
       '2018/08/09', '2018/08/08', '2018/08/07', '2018/08/06',
       '2018/08/05', '2018/08/04', '2018/08/03', '2018/08/02',
       '2018/08/01', '2019/02/01', '2019/03/01', 'Dec 2018', 'Aug 2018',
       'Jul 2019', 'Sep 2018', 'Oct 2018', 'Jan 2019', 'Feb 2019',
       'Apr 2019', 'Mar 2019', 'May 2019', 'Jun 2019', 'Nov 2018'],
      dtype=object)

In [20]:
df["date"].value_counts()

date
Jun 2019      145
May 2019      121
Jul 2019       92
2018/12/01     66
Oct 2018       58
             ...
2018/09/28      3
2019/06/06      2
Dec 2018        2
2019/05/31      2
2019/06/08      2
Name: count, Length: 403, dtype: int64

In [22]:
df["date"].min()

'2018/08/01'

In [23]:
df["Location"].value_counts()

Location
United States of America    116
New York                     34
California                   19
San Jose                     19
Canada                       16
                           ...
Halifax, N.S.                 1
State College, PA             1
Los ángeles , us              1
Stroudsburg Pa US             1
Trinidad and Tobago           1
Name: count, Length: 1082, dtype: int64

In [24]:
df["Location"].unique()

array(['Sebastian', 'Los Angeles', 'Georgia', ..., 'India', 'Malaysia',
       'Trinidad and Tobago'], dtype=object)

In [25]:
df["Location"].nunique()

1082

In [26]:
!pip install langid

Collecting langid
  Downloading langid-1.1.6.tar.gz (1.9 MB)
     ---------------------------------------- 1.9/1.9 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from langid) (1.24.2)
Using legacy 'setup.py install' for langid, since package 'wheel' is not installed.
Installing collected packages: langid
  Running setup.py install for langid: started
  Running setup.py install for langid: finished with status 'done'
Successfully installed langid-1.1.6

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [36]:

import langid

def language_identifier(text):
    return langid.classify(text)

df_1['predicted_language'] = df_1['Review'].apply(language_identifier)

In [31]:
df_1 = df["Review"].fillna("N/A")

In [34]:
df_1 = pd.DataFrame({"Review":df_1})

In [35]:
df_1

                                                 Review
0     I was very impressed with the resort.\n Great ...
1     The rooms were nice the outside needs work als...
2     Great location! I have stayed at this hotel on...
3     The hotel was adequate for my stay. The strips...
4     Great location, room was large and spacious. P...
...                                                 ...
6443  ·the staff were all so friendly. frank, the ch...
6444         ·the internet barely worked or didn't work
6445  ·the location was great.\n \n \n \n \n ·the be...
6446  ·we were early for check in and the staff was ...
6447  ·staff, free coffee, location and activities.\...

[6448 rows x 1 columns]

In [37]:
df_1

,Review,predicted_language
0,I was very impressed with the resort.\n Great ...,"(en, -319.5047106742859)"
1,The rooms were nice the outside needs work als...,"(en, -338.9131441116333)"
2,Great location! I have stayed at this hotel on...,"(en, -143.37122583389282)"
3,The hotel was adequate for my stay. The strips...,"(en, -1101.9776706695557)"
4,"Great location, room was large and spacious. P...","(en, -249.18021440505981)"
...,...,...
6443,"·the staff were all so friendly. frank, the ch...","(en, -1572.544021844864)"
6444,·the internet barely worked or didn't work,"(en, -128.40843152999878)"
6445,·the location was great.\n \n \n \n \n ·the be...,"(en, -286.22187900543213)"
6446,·we were early for check in and the staff was ...,"(en, -260.85845279693604)"
6447,"·staff, free coffee, location and activities.\...","(en, -201.57802772521973)"

In [42]:
df_1["Language"] = df_1["predicted_language"].apply(lambda x:x[0])

In [45]:
df_1["Language"].value_counts()

Language
en    5804
fr     166
es     158
de      94
ja      40
it      35
pt      33
nl      27
da      18
zh      15
ko      14
no      10
sv       8
ca       5
fi       4
la       3
nb       2
ru       2
gl       1
am       1
hu       1
vi       1
cs       1
pl       1
wa       1
mt       1
he       1
ar       1
Name: count, dtype: int64

In [46]:
%pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     -------------------------------------- 636.8/636.8 KB 2.2 MB/s eta 0:00:00
Collecting nltk>=3.1
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 3.7 MB/s eta 0:00:00
Collecting click
  Downloading click-8.1.7-py3-none-any.whl (97 kB)
     ---------------------------------------- 97.9/97.9 KB 2.8 MB/s eta 0:00:00
Collecting joblib
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
     -------------------------------------- 302.2/302.2 KB 6.3 MB/s eta 0:00:00
Collecting regex>=2021.8.3
  Downloading regex-2023.10.3-cp310-cp310-win_amd64.whl (269 kB)
     -------------------------------------- 269.6/269.6 KB 5.5 MB/s eta 0:00:00
Collecting tqdm
  Downloading tqdm-4.66.1-py3-none-any.whl (78 kB)
     ---------------------------------------- 78.3/78.3 KB 1.5 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from click->nltk>=3.1->textblob) (0.4.6)
Installing collected packages: tqdm, regex, joblib, click, nltk, textblob
Successfully installed click-8.1.7 joblib-1.3.2 nltk-3.8.1 regex-2023.10.3 textblob-0.17.1 tqdm-4.66.1

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [47]:
from textblob import TextBlob


def perform_sentiment_analysis(text):
    analysis = TextBlob(text)
    return 'positive' if analysis.sentiment.polarity > 0 else 'negative' if analysis.sentiment.polarity < 0 else 'neutral'

df_1['sentiment'] = df_1['Review'].apply(perform_sentiment_analysis)

In [48]:
df_1

,Review,predicted_language,Language,sentiment
0,I was very impressed with the resort.\n Great ...,"(en, -319.5047106742859)",en,positive
1,The rooms were nice the outside needs work als...,"(en, -338.9131441116333)",en,positive
2,Great location! I have stayed at this hotel on...,"(en, -143.37122583389282)",en,positive
3,The hotel was adequate for my stay. The strips...,"(en, -1101.9776706695557)",en,positive
4,"Great location, room was large and spacious. P...","(en, -249.18021440505981)",en,positive
...,...,...,...,...
6443,"·the staff were all so friendly. frank, the ch...","(en, -1572.544021844864)",en,positive
6444,·the internet barely worked or didn't work,"(en, -128.40843152999878)",en,positive
6445,·the location was great.\n \n \n \n \n ·the be...,"(en, -286.22187900543213)",en,positive
6446,·we were early for check in and the staff was ...,"(en, -260.85845279693604)",en,positive
6447,"·staff, free coffee, location and activities.\...","(en, -201.57802772521973)",en,positive

In [49]:
df_1["sentiment"].value_counts()

sentiment
positive    5616
negative     744
neutral       88
Name: count, dtype: int64

In [50]:
%pip install nltk

Requirement already satisfied: nltk in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (3.8.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: joblib in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: click in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: tqdm in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [54]:
df_1["Review"].str.split

0       I was very impressed with the resort.\n Great ...
1       The rooms were nice the outside needs work als...
2       Great location! I have stayed at this hotel on...
3       The hotel was adequate for my stay. The strips...
4       Great location, room was large and spacious. P...
                              ...
6443    ·the staff were all so friendly. frank, the ch...
6444           ·the internet barely worked or didn't work
6445    ·the location was great.\n \n \n \n \n ·the be...
6446    ·we were early for check in and the staff was ...
6447    ·staff, free coffee, location and activities.\...
Name: Review, Length: 6448, dtype: object

In [55]:
def remove_n(text):
    return text.replace("\n", " ")

df_1['New_review'] = df_1['Review'].apply(remove_n)

In [56]:
df_1

,Review,predicted_language,Language,sentiment,New_review
0,I was very impressed with the resort.\n Great ...,"(en, -319.5047106742859)",en,positive,I was very impressed with the resort. Great s...
1,The rooms were nice the outside needs work als...,"(en, -338.9131441116333)",en,positive,The rooms were nice the outside needs work als...
2,Great location! I have stayed at this hotel on...,"(en, -143.37122583389282)",en,positive,Great location! I have stayed at this hotel on...
3,The hotel was adequate for my stay. The strips...,"(en, -1101.9776706695557)",en,positive,The hotel was adequate for my stay. The strips...
4,"Great location, room was large and spacious. P...","(en, -249.18021440505981)",en,positive,"Great location, room was large and spacious. P..."
...,...,...,...,...,...
6443,"·the staff were all so friendly. frank, the ch...","(en, -1572.544021844864)",en,positive,"·the staff were all so friendly. frank, the ch..."
6444,·the internet barely worked or didn't work,"(en, -128.40843152999878)",en,positive,·the internet barely worked or didn't work
6445,·the location was great.\n \n \n \n \n ·the be...,"(en, -286.22187900543213)",en,positive,·the location was great. ·the bed was...
6446,·we were early for check in and the staff was ...,"(en, -260.85845279693604)",en,positive,·we were early for check in and the staff was ...
6447,"·staff, free coffee, location and activities.\...","(en, -201.57802772521973)",en,positive,"·staff, free coffee, location and activities. ..."

In [57]:
%pip install seaborn

Collecting seabornNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

  Downloading seaborn-0.13.0-py3-none-any.whl (294 kB)
     -------------------------------------- 294.6/294.6 KB 2.6 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.2 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (2.1.1)
Collecting matplotlib!=3.6.1,>=3.3
  Downloading matplotlib-3.8.2-cp310-cp310-win_amd64.whl (7.6 MB)
     ---------------------------------------- 7.6/7.6 MB 3.8 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.24.2)
Collecting kiwisolver>=1.3.1
  Downloading kiwisolver-1.4.5-cp310-cp310-win_amd64.whl (56 kB)
     ---------------------------------------- 56.1/56.1 KB 3.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.45.1-cp310-cp310-win_amd64.whl (2.2 MB)
     ---------------------------------------- 2.2/2.2 MB 4.0 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.2.0-cp310-cp310-win_amd64.whl (186 kB)
     -------------------------------------- 186.7/186.7 KB 2.8 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.1)
Collecting pillow>=8
  Downloading Pillow-10.1.0-cp310-cp310-win_amd64.whl (2.6 MB)
     ---------------------------------------- 2.6/2.6 MB 3.2 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
     -------------------------------------- 103.1/103.1 KB 2.0 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.2.0 cycler-0.12.1 fonttools-4.45.1 kiwisolver-1.4.5 matplotlib-3.8.2 pillow-10.1.0 pyparsing-3.1.1 seaborn-0.13.0